/* 共通部分 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
}

li {
  list-style: none;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

/* ボタン */
.btn {
  display: inline-block;
  padding: 5px 8px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 13.3333px;
}

.btn:hover {
  opacity: 0.8;
}

/* 画像 */
img {
  max-width: 600px;
  height: auto;
}


/* アラート */
.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: white;
    text-align: center;
}

.alert-success {
    background-color: #7CC6A5;
}

.alert-danger {
    color: #721c24;
    background-color: #F26C6C;
}

/* ヘッダー */
header {
  padding: 20px 0;
  border-top: 3px solid #333;
  margin-top: 10px;
  background-color: #f5f5f5;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
}

.header__list li {
  margin-right: 10px;
}

.header__btn--logout {
  background-color: red;
}

/* ログアウトボタン */
#logout-form {
  display: none;
}

/* メイン */
.main__container {
  padding: 20px 0;
}
/* フッター */

footer {
  padding: 20px 0;
  background-color: #f5f5f5;
}
.footer__container {
  text-align: center;
}
.footer__list {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer__list li {
  margin-right: 15px;
}
.footer__btn--form {
  background-color: blue;
  margin-bottom: 10px;
}

.footer__copy {
  padding-top: 20px;
  border-top: 1px solid #dcdcdc;
}
