.listing_edit__title {
    margin: 30px 0;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.listing_edit__btns {
    margin-top: 10px;
}

.listing_edit__btn--submit {
    background-color: #0074D9;
}

